* {
  color: white;
  padding: 0px;
  margin: 0px;
  font-size: xx-large;
}
body {
  background-image: url("../img/matrix.jpg");
  background-size: cover;
}
img {
  width: 700px;
  border-radius: 1px;
  border: 4px solid royalblue;
}
.gif{
  margin-top: 10px;
  text-align: center;
}
.list{
  text-align: center;
  text-shadow: 4px 2px royalblue;
}
.list ul li{
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 2px solid royalblue;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.671);
  color: white;
  font-size: large;
}
  
a{
  text-decoration: none;
  border: 1px solid rgb(14, 167, 238);
  background-color: rgba(16, 189, 54, 0.575);
}
.button{
  margin-top: 2em;
  text-align: center;
  text-shadow: 3px 1px black;

}
.button a{
  border: 2px solid rgb(14, 167, 238);
  border-radius: 15px;
  
}
h1 {
  text-shadow: 5px 3px royalblue;
  text-align: center;
}
